.accordeon-container{
    width: 80%;
    margin: 0 auto;
}
.accordeon-item{
    cursor: pointer;
}
.accordeon-title{
    background-color: #efefef;
    margin: 5px 0;
    padding: 10px;
}
.accordeon-title h2::after {
    content: '\02795';
    float: right;
}
.accordeon-item.active .accordeon-title h2::after {
    content: '\02796';
    float: right;
}
.accordeon-item.active .accordeon-title{
    background-color: red;
    color: white;
}
.unlisted{
    list-style: none;
}
.unlisted li{
    padding: 10px;
}

.accordeon-content{
    background-color: beige;
    display: none;
}

@media screen and (max-width: 650px){
    .accordeon-container{
        width: 95%;
    }
}
